

<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header logocell">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%=link_to image_tag('logo.png'), root_url, class:'navbar-brand'%>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="link-to-more-central"><img src="images/link-to-more-red.png" class="link-to-more-img"><a href="#">Узнать больше о&nbsp;компании&nbsp;«Сервисарм»</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Продукция<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Установки<br>осушки газа</a></li>
              <li><a href="#">Блочно-модульная<br>АГНКС</a></li>
              <li><a href="#">Запорная арматура<br>и фильтры для АГНКС</a></li>
              <li><a href="#">Специальные<br>проекты</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>+7<small> </small>(343-45)<small> </small>3-11-50</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>


<div id="myCarousel" class="carousel slide homepage-fluid" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active homepage-fluid" style="background-image:url(images/fullwidth/1.jpg)">
      <div class="container" style="height:100%">
        <div class="row" style="height:100%">
          <div class="fullwidth-caption vmiddle">
            <h1>15 ЛЕТ</h1>
            <h3>В&nbsp;ГАЗОВОЙ ОТРАСЛИ</h3>
            <p>Компания «Сервисарм» имеет большой успешный опыт в&nbsp;проектировании, изготовлении и&nbsp;обслуживании газового оборудования и&nbsp;запорной арматуры</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item homepage-fluid" style="background-image:url(images/fullwidth/2.jpg)">
      <div class="container" style="height:100%">
        <div class="fullwidth-caption vmiddle">
          <h1>70%</h1>
          <h3>комплектующих производим&nbsp;сами</h3>
          <p>Сохраняя приемлемые цены на&nbsp;готовую продукцию, обеспечиваем импортозамещение</p>
        </div>
      </div>
    </div>
    <div class="item homepage-fluid" style="background-image:url(images/fullwidth/3.jpg)">
      <div class="container" style="height:100%">
        <div class="fullwidth-caption vmiddle">
          <h1 style="color:#000;text-shadow:none;">120</h1>
            <h3 style="color:#000;text-shadow:none;">УСТАНОВОК ОСУШКИ ГАЗА&nbsp;УСПЕШНО эксплуатируются</h3>
            <p style="color:#000;text-shadow:none;">в&nbsp;самых жестких условиях от&nbsp;Якутии до&nbsp;Узбекистана</p>

        </div>
      </div>
    </div>
    <div class="item homepage-fluid" style="background-image:url(images/fullwidth/4.jpg)">
      <div class="container" style="height:100%">
        <div class="fullwidth-caption vmiddle">
          <h1>1000</h1>
            <h3>ШАРОВЫХ КРАНОВ ВЫСОКОГО&nbsp;ДАВЛЕНИЯ ПРОИЗВОДИТСЯ ЕЖЕМЕСЯЧНО</h3>
            <p>Качественные и&nbsp;надежные, они&nbsp;не&nbsp;имеют аналогов в&nbsp;России и&nbsp;конкурируют с&nbsp;европейскими</p>

        </div>
      </div>
    </div>
    <div class="item homepage-fluid" style="background-image:url(images/fullwidth/5.jpg)">
      <div class="container" style="height:100%">
        <div class="fullwidth-caption vmiddle">
            <h1>100%</h1>
            <h3>ПРОДУКЦИИ ПОДВЕРГАЕТСЯ ЗАВОДСКИМ ИСПЫТАНИЯМ НА&nbsp;ГЕРМЕТИЧНОСТЬ И&nbsp;ПРОЧНОСТЬ</h3>
            <p>Наша продукция соответствует всем отечественным и&nbsp;европейским стандартам, имеет всю&nbsp;необходимую разрешительную документацию</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->


<!--

<div class="container-fluid homepage-fluid homepage-fluid-bg<%= @captionindex%>">
    <div class="container" style="height:100%">
      <div class="row" style="height:100%">
        <div class="fullwidth-caption vmiddle">
          
          <%=@caption%>
        </div>
      </div>
    </div>
</div>-->

<div class="container-fluid black">
  
  <div class="container whitepad">
    <div class="row">
      <div class="whitetext col-md-12 col-lg-12">
        <h2>УПИГ-1500А</h2>
        <div class="row">
          <div class="col-md-5 col-xs-5 whitepadlist">
            <div class="item">Низкая стоимость</div>
            <div class="item">Малые габариты</div>
            <div class="item">Малые энергозатраты</div>
            <div class="item">Низкая точка росы</div>
          </div>
          <div class="col-md-7 col-xs-7 whitepadlist2">
            <div class="item">Возможность установки в&nbsp;одном контейнере с&nbsp;компрессором</div>
            <div class="item">Эффективная система маслоотделения</div>
            <div class="item">Автоматическое либо ручное исполнение</div>
          </div>
        </div>
        <div class="row starrow">
          <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2 vmiddle">
            <img src="images/whitepadbulletred.png">
          </div>
          <div class="col-lg-11 col-md-10 col-sm-11 col-xs-10 whitetextstar vmiddle">
            УСПЕШНЫЙ ОПЫТ ЭКСПЛУАТАЦИИ БОЛЕЕ ЧЕМ НА 100 ОБЪЕКТАХ
          </div>
        </div>
      </div>
   </div>
   <div class="redmemo">
    Установки осушки при-<br>меняются для очистки 
от&nbsp;механических приме-<br>сей и&nbsp;удаления паров воды&nbsp;из&nbsp;природного 
<br>газа
    <div class="redmemoarrow"></div>
   </div>
   
    <div class="row">
      <div class="text-left downloadbottom">
        Загрузить референц-лист установок осушки для АГНКС
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-9 whitetablepadleft">
        <div class="whitetablewhiterow">
          <h2 class="whitetblhead">Установки осушки высокого давления</h2></div>
          <table class="whitetable">
            <tr>
              <th class="tablename">Варианты <br>конструкций
              </th>
              <th class="namesrow">УПИГ-500А
              </th>
              <th class="namesrow">УПИГ-1000А
              </th>
              <th class="namesrow">УПИГ-1500А
              </th>
              <th class="namesrow">УПИГ-2000А
              </th>
              <th class="namesrow">УПИГ-3000А
              </th>
              <th class="namesrow">
              </th>
            </tr>
            <tr class="darker">
              <td class="whitetablecats">Производительность
              </td>
              <td>500
              </td>
              <td>1000
              </td>
              <td>1500
              </td>
              <td>2000
              </td>
              <td>3000
              </td>
              <td class="whitetableunits">нм&sup3;/ч
              </td>
            </tr>
            <tr>
              <td class="whitetablecats" height="37px">Кол-во адсорбентов <br>в линии
              </td>
              <td>1
              </td>
              <td>2
              </td>
              <td>3
              </td>
              <td>4
              </td>
              <td>4
              </td>
              <td class="whitetableunits">шт.
              </td>
            </tr>
            <tr class="darker">
              <td class="whitetablecats">Потребляемая мощность
              </td>
              <td>3,3
              </td>
              <td>4,7
              </td>
              <td>6,1
              </td>
              <td>7,5
              </td>
              <td>7,5
              </td>
              <td class="whitetableunits">кВ
              </td>
            </tr>
            <tr>
              <td class="whitetablecats">Габаритные размеры
              </td>
              <td>1340х750х1960
              </td>
              <td>1710х750х1960
              </td>
              <td>2080х750х1960
              </td>
              <td>2450х750х1960
              </td>
              <td>2600х750х2160
              </td>
              <td class="whitetableunits">мм
              </td>
            </tr>
            <tr class="darker">
              <td class="whitetablecats">Масса
              </td>
              <td>1270
              </td>
              <td>1900
              </td>
              <td>2520
              </td>
              <td>3150
              </td>
              <td>3500
              </td>
              <td class="whitetableunits">кг
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="col-md-5 whitetableloadcat">
              Загрузить каталог типовых установок осушки для&nbsp;АГНКС высокого и низкого давления
            </div>
            <div class="col-md-4 whitetabletext">
              Рабочее давление 250 кгс/см&sup2;<br>
              Срок службы адсорбента 5 лет
            </div>
            <div class="col-md-3 whitetabletext">
              Влагосодержение на выходе 9 мг/м&sup3; (-60˚С)<br>
              Влагосодержение на входе не ограничено
            </div>
          </div>
          <div class="redtag">
          </div>
      </div>
      <div class="col-md-3">
        <div class="whitetablepadright">
          <div class="whitetablewhiterow">
            <h2 class="whitetblhead">Установки осушки низкого давления</h2>
          </div>
          <table class="whitetable2">
            <tr>
              <th class="namesrow">
                <h3>УПИГ-1500Н</h3>
                <p class="h2sub">Компрессор защищен от&nbsp;влаги</p>
              </th>
            </tr>
            <tr class="darker">
              <td>Производительность 1500 нм&sup3;/ч
              </td>
            </tr>
            <tr>
              </td>
              <td>3 адсорбента в линии
              </td>
            </tr>

            <tr class="darker">
              <td>Потребляемая мощность 16 кВт
              </td>
            </tr>
            <tr>
              <td>Габаритные размеры 2600х2100х2360 мм
              </td>
            </tr>
            <tr class="darker">
              <td>Масса 9800 кг
              </td>
            </tr>
            <tr>
              <td>Рабочее давление 6…12 кгс/см&sup2;
              </td>
            </tr>
            <tr class="darker">
              <td>Срок службы адсорбента 5 лет
              </td>
            </tr>
            <tr>
              <td>Влагосодержание на выходе 9 мг/м&sup3; (-60˚С)
              </td>
            </tr>
            <tr class="darker">
              <td>Влагосодержание на входе не ограничено
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mapblock" id="map">
  <a id="mapbutton_rus" href="#map" onclick="mapChange();" class="mapblockbutton"></a>
  <a id="mapbutton_uzb" href="#map" onclick="mapChange();" class="mapblockbutton mapblockbutton_uzb hidden"></a>
  <div class="maptext" id="mapcaption_rus">
    <h2>51</h2>
    <h3>установка осушки природного газа</h3>
      в России
  </div>
  <div class="maptext hidden" id="mapcaption_uzb" style="left:7%;">
    <h2>58</h2>
    <h3>установок осушки природного газа</h3>
      в Узбекистане
  </div>
</div>

<div class="container-fluid">
  <div class="row whitebg">
    <div class="col-md-6 whiteshad-grad">
      <div class="whiteshad">
        <p>«За время эксплуатации оборудование зарекомендовало себя как&nbsp;работоспособное и&nbsp;надежное, 
  все вопросы по&nbsp;сервисному обслуживанию решаются 
  оперативно благодаря наличию запасных частей 
  и&nbsp;квалифицированному персоналу. Высокий профессионализм инженеров и&nbsp;менеджеров позволяет 
  решать вопросы любого рода в&nbsp;дружественной атмосфере».</p>
        <img src="images/gazprom.png" class="img-responsive" align="right">
      </div>
    </div>
    <div class="col-md-6 whiteshad-grad">
      <div class="whiteshad">
        <p>«По нашему техническому заданию был спроектирован и&nbsp;организован выпуск импульсных газовых 
  шаровых кранов и&nbsp;кранов-распределителей. 
  С&nbsp;ноября 2002 года нами было установлено около 
  15000 этих кранов. Практически полное отсутствие 
  возвратов при&nbsp;стопроцентном входном контроле 
  кранов на&nbsp;нашем предприятии и&nbsp;отсутствие 
  претензий со&nbsp;стороны покупателей говорит о&nbsp;высоком 
  качестве продукции и&nbsp;надежности поставщика».</p>
        <img src="images/logo_ug.png" class="img-responsive" align="right">
      </div>
    </div>
  </div>
  <div class="row whitebg">
    <div class="col-md-6 whiteshad-grad">
      <div class="whiteshad">
        <p>«Установка была поставлена в&nbsp;полной заводской 
  готовности и&nbsp;смонтирована в течение одного
  рабочего дня. За&nbsp;время работы показала, что неприхотлива и&nbsp;проста в&nbsp;использовании. 
  Готовы рекомендовать ООО&nbsp;„Сервисарм“ как&nbsp;надежного поставщика
  блоков осушки для&nbsp;АГНКС».</p>
        <img src="images/logo_elegant.png" class="img-responsive" align="right">
      </div>
    </div>
    <div class="col-md-6 whiteshad-grad">
      <div class="whiteshad">
        <p>«Наша компания успешно применяет установки
  адсорбционной осушки УПИГ в&nbsp;составе АГНКС 
  нашего производства. За&nbsp;время эксплуатации 
  ни одного случая выпадения конденсата или&nbsp;образования кристаллогидратов выявлено не&nbsp;было. 
  Все вопросы между нашими предприятиями 
  решаются быстро и&nbsp;непринужденно».</p>
        <img src="images/logo_rotor.png" class="img-responsive" align="right">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid greyline">
  <div class="row">
    <div class="text-left downloadbottomdown"><a href="">Загрузить отзывы клиентов 
об установках осушки для АГНКС</a></div>
  </div>
</div>


<div class="container-fluid galleryshowpad" id="gallery">
  <div class="row filmrow" id="film_roll_cell">
    <div id="film_roll">
      <%(1..10).each do |i| %>
        <div><a href="#"><img src="images/production/<%=i.to_s%>.jpg"> </a></div>
      <%end%>
    </div>
    <div class="filmrollshadow1"></div>
    <div class="filmrollshadow2"></div>
  </div>
  <div class="row filmrow hidden" id="film_roll_cell_ins">
    <div id="film_roll_ins">
      <%(1..8).each do |i| %>
        <div><a href="#"><img src="images/installations/<%=i.to_s%>.jpg"> </a></div>
      <%end%>
    </div>
    <div class="filmrollshadow1"></div>
    <div class="filmrollshadow2"></div>
  </div>
  
  
</div>


<div class="container-fluid greyline">
  <div class="row gallery">
    <div class="col-md-6 col-xs-6">
      <div class="row">
        <div class="col-md-5 galgrey">&nbsp;</div>
        <div class="col-md-7 col-sm-7 red galgrey" id="production_button_cell">
          <p class="gallerygreyline vmiddle"><a href="#gallery" id="production_button">Фотографии с производства компании"Сервисарм"</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="row">
        <div class="col-md-7 col-sm-7 galgrey" id="installations_button_cell"><p class="gallerygreyline vmiddle">
          <a href="#gallery" id="installations_button">ФОТОГРАФИИ С МЕСТ ЭКСПЛУАТАЦИИ РЕАЛИЗОВАННЫХ ПРОЕКТОВ</a></p>
        </div>
        <div class="col-md-5 galgrey"></div>
        </div>
      </div>
    </div> 
  </div>
</div>


<div class="container-fluid bottomgrey">
  <div class="row dots">
      <div class="container contacts">
        <div class="col-md-2 col-sm-4 col-xs-5 contact-red" style="z-index:50;">
          <h2>Свяжитесь с&nbsp;нами</h2>
          <p>Для того чтобы заказать оборудование или задать интересующие вас вопросы, свяжитесь с&nbsp;нами, пожалуйста, по&nbsp;телефону или по&nbsp;электронной почте</p>
          <div class="contact-red-arrow"></div>
        </div>
        <div class="col-md-5 col-sm-4 col-xs-7 contact-white-grad" style="z-index:30;">
          <div class="contact-white">
            <h2><img src="images/flag_rus.png"> В России</h2>
            <p>+7 (343-45) 3-11-50</p>
            <p>+7 982 615-06-26</p>
            <p>avdkomlev@mail.ru</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-4 col-xs-12 contact-white-grad" style="z-index:30;">
          <div class="contact-white">
            <h2><img src="images/flag_uzb.png"> В Узбекистане</h2>
            <p>+9 (98-90) 933-27-37</p>
            <p>+9 (98-98) 365-01-03</p>
            <p>shadmanov57@mail.ru</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bottomgreyline">
  <div class="container">
    <div class="row">
      <div class="col-md-9 bottomlinks">
        <ul>
          <li>О КОМПАНИИ</li>
          <li>УСТАНОВКИ ОСУШКИ ГАЗА</li>
          <li>БЛОЧНО-МОДУЛЬНАЯ АГНКС</li>
          <li>ЗАПОРНАЯ АРМАТУРА И ФИЛЬТРЫ ДЛЯ АГНКС</li>
          <li>СПЕЦИАЛЬНЫЕ ПРОЕКТЫ</li>
        </ul>
 
      </div>
      <div class="col-md-3 text-right bottomcopy">© 2015 ООО «Сервисарм». Все права защищены.</div>
    </div>
  </div>
</div>

