/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */




@font-face {
  font-family: 'Kent';
  font-style: normal;
  font-weight:300;
  src: url('../fonts/KentMed.otf') format('otf');
}
@font-face {
  font-family: 'Kent';
  font-style: normal;
  font-weight:100;
  src: url('../fonts/KentExtLig.woff') format('woff');
}

@font-face {
  font-family: 'Kent';
  font-style: normal;
  font-weight:700;
  src: url('../fonts/KentBla.woff') format('woff');
}


@font-face {
  font-family: 'PF Agora Sans Pro';
  font-style: normal;
  font-weight:400;
  src: url('../fonts/PFAgoraSansPro-Medium.ttf') format('tff');
}

.body{
	height:100%;
	width:100%;
}

.no-left-border{
	border-left:0;
}
.no-right-border{
	border-right:0;
}

@media (max-width: 768px){
	.navbar{
  	margin-bottom: 0px;
	}

}

@media (min-width: 768px){
	.caret{
		display:none;
		
	}
	.navbar-inverse {
		position:absolute;
		top:28px;
	  background: -webkit-linear-gradient(right, #131313 , #202020); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(right, #131313 , #202020); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(right, #131313 , #202020); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to right, #131313 , #202020); 
	  z-index: 10;
		height:50px;
		width:100%;
	  
		border:0;
		box-shadow: 2px 2px 3px #303030;
		color:#fff;
	}
	.navbar-nav>li{
		padding-right:0;
	}
	
	.navbar-brand{
	  padding-top: 10px;
	  padding-right: 115px;
		margin:0;
	}
	.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active {
		font-family: 'PF Agora Sans Pro';
		font-size:14px;
		line-height:1;
	  color: #fff;
	}
	.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active{
		text-decoration:underline;
	}
	.link-to-more-central{
		width:250px;
	}
	.link-to-more-central > img{
		padding-right:15px;
	}
	.navbar-right {
	  margin-right: 0; 
	}
	.navbar-nav>li>a{
		padding-top:10px;
		padding-bottom:10px;
		text-shadow: 2px 2px 5px #404040;
	}
	.navbar-nav > .dropdown{
		height:50px;
		padding-top:10px;
		text-align:center;
		margin:0;
		width:165px;
		border-left:#000 1px solid;
		border-right:#000 1px solid;
		box-shadow: 1px 0 1px #333;
		font-family: 'PF Agora Sans Pro';
		font-size:14px;
		line-height:1;
	  color: #fff;
		text-shadow: 2px 2px 5px #404040;
		margin-left:60px;
	}
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
		background:transparent;
	}
	.navbar-nav>li>.dropdown-menu{
		background-color:#ba1f12;
		margin:0;
		width:164px;
		box-shadow: none;
		border-radius:0;
		border:0;
	}
	.dropdown-menu{
		z-index:10;
		padding-bottom:0;
		padding-top:0;
	}
	.dropdown-menu>li{
		padding:5px;
		box-shadow: 0 1px 0 1px rgba(233,191,138,0.3);
		border-top:0;
		border-right:0;
		border-left:0;
		border-bottom:#7f1600 1px solid;
	}
	.dropdown-menu>li>a{
		font-family: 'PF Agora Sans Pro';
		font-size:14px;
		line-height:1;
	  color: #fff;
		text-shadow: none;
		padding-left:5px;
		
	}
	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active{
		background:transparent;
		text-decoration:underline;
		color:#fff;
	}
	
	.navbar-right >li{
		font-family: 'Kent';
		font-size:28px;
		float:right;
		padding-top:7px;
		font-weight:400;
		color:#808080;
	}
	.navbar-right>li small{
		font-size:14px;
	}
}


.homepage-fluid{
	padding:80px 0 0 0;
	z-index:0;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
	padding:0;
	border-top:#333 1px solid;
	border-bottom:#000 1px solid;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-color:#131313;
}
.homepage-fluid > .container{
	padding-top:80px;
}
.fullwidth-image{
	position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
	z-index:-10;
	width: auto;
	height: auto;
	padding:0;
	margin:0;
}

.blacktext{
	color:#000;
}

.fullwidth-caption{
	z-index:10;
	text-align:left;
	max-width:500px;
	color:#fff;
	text-shadow: 1px 1px 5px rgba(20,20,20,0.8);
}


.fullwidth-caption > h1{
	font-family: 'Kent', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 106px;
	line-height:1;
	padding-bottom:0;
	margin:0 0 0 -4px;
	text-shadow: 1px 1px 5px rgba(20,20,20,0.8);
}

.fullwidth-caption > h3{
	font-family: 'Kent';
	font-style: normal;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 27px;
	line-height:1.4;
	margin-top:0;
  margin-bottom: 2px;
	padding-top:0;
	text-shadow: 1px 1px 5px rgba(20,20,20,0.8);
}
.fullwidth-caption > p{
	font-family: 'Kent';
	font-style: normal;
	font-weight: 100;
	font-size: 19px;
	line-height:1.2;
	text-shadow: 1px 1px 5px rgba(20,20,20,0.8);
	max-width:350px;
}



.link-to-more-img{
	z-index:40;
  margin-top: -7px;
  float:left;
}

.link-to-more-central p{
	padding-top: 8px;
	padding-left: 40px;
	font-family: 'PF Agora Sans Pro';
	font-size:14px;
	line-height: 1;
	color:#fff;
}


.black{
  margin-top:0;
  z-index:-2;
  padding:0;
  height:auto;
  background-color:#141414;
  background: -webkit-linear-gradient(right, #000000 , #202020); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #000000 , #202020); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #000000 , #202020); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #000000 , #202020); /* Standard syntax */
  border-top:#333 2px solid;
  border-bottom:#000 1px solid;
}

.whitepad{
	background:#fff;
	color:#000;
	margin-top:50px;
	margin-bottom:15px;
	height:auto;
	overflow:visible;
	position:relative;
}






.menubar{
	margin-top:-40px;
	margin-bottom:0;
  padding-right: 0;
  padding-left: 0;
  width:100%;
  overflow: hidden;
  height:auto;

}

.menu-left{
	position:relative;
	z-index:5;
	min-width:100px;
	width:100px;
	height:60px;
	background: url(../images/menu-fon.png) repeat-x;
	float:left;
}

.menu-right{
	position:relative;
	z-index:5;
	height:60px;
	background: url(../images/menu-fon.png) repeat-x;
	margin-left:-13px;
	left:763px;
}

.menu-items{
	width:716px;
	float:left;

}

.menu-item{
	position:relative;
	z-index:10;
	float:left;
	padding-top:8px;
	padding-left:28px;
	margin-left:-9px;
	width:220px;
	height:60px;
	background: url(../images/menu-item-fon.png) no-repeat;
	font-family:'Kent';
	font-weight:400;
	color:#fff;
	line-height:1.2;

}

.menu-mid{
	position:relative;
	z-index:5;
	float:left;
	width:28px;
	height:60px;
	padding:0;
	margin-left:-13px;
	margin-right:0px;
	background: url(../images/menu-fon.png) repeat-x;
}



.whitegallery{
	height:auto;
	display:block;
	background: url(../images/whitepadbg.png) no-repeat 0 100%;
	background-position: left bottom;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.whitegalimg img{
	display:block;
	width:331px;
	height:364px;
}

.whitegalthumbs{
	padding-top:16px;
	float:none;
}
.whitegalthumbs a img{
	width:43px;
	height:43px;
}

.whitegalthumbs a{
	display:block;
	float:left;
	padding:0;
	width:auto;
	height:auto;
	border: #a5a5a5 2px solid;
	margin: 4px;
}

.whitegalthumbs a:hover{
	border:#bc1f12 2px solid;
}


.whitegalthumbstriangle{
	visibility:hidden;
}

.whitegalthumbs a:hover > img{
	width:45px;
	height:45px;
}

.whitegalthumbs a:hover > .whitegalthumbstriangle{
	visibility:visible;
	display:block;
	overflow:hidden;
	position:relative;
	left:15px;
	top:-2px;
	width: 0;
	height: 0;
	padding:0;
	margin:0;
	margin-top:-8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #bc1f12;
}


.whitetext{
	display:block;
	font-family:'Kent', sans-serif;
	padding:40px 60px 65px 540px;
	background-image: url(../images/whitepadbg.png);
	background-position: 15px 100%;
	background-repeat:no-repeat;

}
.whitetext h2{
	color:#000;
	font-weight:bold;
	font-size:65px;
	margin-top:35px;
	margin-bottom:10px;

}

.whitepadlist, .whitepadlist2{
    padding: 15px;
    margin: 0;
}

.whitepadlist > .item, .whitepadlist2 > .item{
	margin:0;
	padding: 10px 0 0 40px;
	min-width:100%;
  min-height:40px;
  background-image: url(../images/whitepadbullet.png);
  background-repeat: no-repeat;
  background-position: 0 50%; 
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:17.25px;
	display: inline-block;
	vertical-align:middle;
}
.whitepadlist2 > .item{
	min-height:50px;
	
}

.downloadbottom{
	position:absolute;
	bottom:-10px;
	left:540px;
	z-index:20;
	background:url(../images/mapredtag.png) no-repeat;
	height:60px;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:14px;
	line-height:1;
	padding-left:40px;
	max-width:250px;
	font-weight:700;
	padding-top:10px;
}
.downloadbottomdown{
  position: relative;
  top: -5px;
  left: 40%;
  z-index: 20;
  background: url(../images/link-to-more-red.png) no-repeat;
  height: 60px;
  font-family: 'PF Agora Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1;
  padding-left: 40px;
  max-width: 250px;
  font-weight: 700;
  padding-top: 15px;
}













.whitetext div1{
	font-family:'PF Agora Sans Pro', sans-serif;
	color:#231f20;
	font-weight:700;
	font-size:17px;
	line-height:1.1;
	text-transform: none;
	vertical-align:middle;
	display: inline-block;
	padding-top:10px;
}

.whitetext .whitetextattention{
	font-size:12px;
	font-family:'PF Agora Sans Pro', sans-serif;
	text-transform: none;
	font-weight:400;
	max-width:200px;
}

.whitetext .whitetextstar{
	max-width:450px;
	font-size:19.5px;
	font-family:'Kent', sans-serif;
	font-weight:400;
	text-transform: uppercase;

}
.row .starrow {
  margin-top: 45px;
}
.vmiddle{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.vbottom{
	position: relative;
  top: 40%;
  transform: translateY(-150%);
}


.redmemo{
	position:absolute;
	top:13px;
	left:13px;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:14px;
	color:#fff;
	text-shadow: 2px 2px 5px rgba(20,20,20,0.2);
	width:194px;
	padding:20px;
	z-index:7;
	background:#bd3320;
	background: -webkit-linear-gradient(left, #a9150d, #bd3420); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #9b0f08, #ba2114); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #9b0f08, #ba2114); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, 
	    #a9150d 0px,     
	    #bd3420 50%,    
	    #bc2919 100%     
	);  
	
	box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
}

.redmemoarrow {
	position:absolute;
	left:100%;
	top:55px;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #bc2919;
}

.blueline{
	z-index:20;
	width:100%;
	background-color:#004264;
	background: url(../images/blueline.png) repeat-y;
	background-size:100% 100%;
	color:#ffffff;
	box-shadow: -3px 3px 10px #202020;
}

.grey{
	position:relative;
	margin-top:0px;
	z-index:-10;
	width:100%;
	padding-top:50px;
	padding-left:101px;
	padding-right:97px;
	height:auto;
	background-color:#dedede;
}

.whitetablepadleft{
	font-family: 'Kent', sans-serif;
	color:#000;
	font-size:10px;
	background: url(../images/whitetableback1.png) no-repeat;
	background-color:#fff;
	background-position: 0 53px;
	background-size: 100% 202px;
	padding:0;
	box-shadow: 3px 3px 10px #202020;
	height:500px;
	overflow:visible;
	position:relative;
	margin-bottom:45px;
}


.whitetablepadright{
	margin-right:-15px;
	font-family: 'Kent', sans-serif;
	color:#000;
	font-size:10px;
	background: url(../images/whitetableback2.png) no-repeat;
	background-color:#fff;
	background-position: 0 53px;
	background-size: 100% 202px;
	padding:3px 0 0 0;
	box-shadow: 3px 3px 10px #202020;
	height:500px;
	overflow:visible;
	position:relative;
	margin-bottom:45px;
}
.whitetablewhiterow{
	width:auto;
	margin:0;
	padding:0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
	
}



.whitetablepadleft h2, .whitetablepadright h2{
	font-family: 'Kent', sans-serif;
	color:#000;
	font-weight: bold;
	font-size:16px;
	text-transform: uppercase;
	padding-left:12px;
	margin-bottom:0;
	height:55px;
}
.whitetablepadleft h2{
	margin-top:21px;
}
.whitetablepadright h2{
	margin-top:9px;
}
.whitetable, .whitetable2{
	width:100%;
	margin-top:170px;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
}
.whitetable2{
	margin-top:175px;
	line-height:1.3;
}
.whitetablepad h2{
	font-weight: bold;
	font-size:16px;
	padding-top:16px;
	text-transform: uppercase;
}
.whitetable th, .whitetable2 th{
	vertical-align: top;
}
.whitetable td{
	height:29px;
	padding-right:7px;
	vertical-align:middle;
	text-align: center;
	font-size:11px;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-weight:400;
}

.whitetable2 td{
	padding-top:3px;
	padding-bottom:3px;
	padding-right:7px;
	padding-left:12px;
	text-align: left;
	font-size:11px;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-weight:400;
}

.whitetable .tablename, .whitetable2 .tablename{
	padding-left:12px;
	padding-top:0;
	padding-bottom:5px;
	width:140px;
	text-align: left;
	vertical-align:bottom;
	font-weight:bold;
	font-size: 10px;
	line-height: 1.3;
	color:#999;
	text-transform: uppercase;
}


.h2sub{
	background: url(../images/whitepadbullet_sm.png) no-repeat;
	background-color:#fff;
	background-position: 0 0px;
	min-height:24px;
	width:200px;
	padding-left:30px;
	padding-right:20px;
	font-size:14px;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-weight:400;
	line-height:1;
	text-transform:none;
	text-align:left;
	margin-bottom:0;
}
.namesrow h3{
	font-size:26px;
	font-weight:700;
	font-family:'Kent', sans-serif;
	text-align:left;
	margin-top:0;
	margin-bottom:5px;
	padding-left:0;
}

.whitetable .namesrow, .whitetable2 .namesrow{
	padding-left:12px;
	padding-top:0;
	padding-bottom:5px;
	text-align: center;
	vertical-align:bottom;
	font-weight:bold;
	font-size:10px;
	text-transform: uppercase;
}


.whitetable .darker, .whitetable2 .darker {
	background:#e6e6e6;
}

.whitetable .whitetablecats{
	text-align: left;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:11px;
	line-height:1;
	max-width:133px;
	padding-left:12px;
}

.whitetableloadcat{
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:14px;
	line-height:1;
	font-weight:700;
	color:#000;
	padding-left:60px;
	padding-right:30px;
	padding-top:25px;
	margin-bottom:20px;
  width: 280px;
}

.whitetabletext{
	padding-left:0;
	padding-right:30px;
	padding-top:25px;
	margin-bottom:20px;
	font-family:'Kent', sans-serif;
	font-size:10px;
	margin-left:0;
	width:auto;
}

.whitetabletext2{
	padding-left:30px;
	padding-right:10px;
	padding-top:20px;
	margin-bottom:20px;
	font-family:'Kent', sans-serif;
	font-size:10px;
	margin-left:0;
	width:auto;
	height:76px;
}

.whitetablepadleft .redtag{
	position:absolute;
	bottom:-10px;
	left:9px;
	z-index:20;
	background:url(../images/redtagbottom.png) no-repeat;
	width:30px;
	height:66px;
}

.mapblock{
	
	background: url(../images/map.jpg) no-repeat;
	background-color:#1b1b1b;
	background-size:100% 100%;
	min-height:430px;
	position:relative;
	border-top:#333 1px solid;
	border-bottom:#000 5px solid;
	z-index:10;
	overflow:visible;
	box-shadow: 2px 2px 5px #404040;
}
.mapblockuzb{
	
	background: url(../images/map_uzb.jpg) no-repeat;
	background-size:100% 100%;
}

.mapblockbutton{
	position:absolute;
  right: 40px;
  bottom: 20px;
	z-index:10;
	width:248px;
	height:28px;
	background:url(../images/mapbut.png);
}
.mapblockbutton_uzb{
	background:url(../images/mapbut_uzb.png);
	
}

.maptext{
	position:absolute;
	left: 60%;
	top:135px;
	z-index:10;
	font-family:'Kent', sans-serif;
	font-size:23px;
	font-weight:100;
	max-width:300px;
	text-transform: uppercase;
	color:#fff;
	text-shadow: 2px 2px 3px #303030;
}

.maptext h2{
	font-size:121.28px;
	font-weight:400;
	margin:0;
	line-height:100px;
	margin-left:-13px;
}

.maptext h3{
	margin:0;
	font-size:24.89px;
	font-weight:800;
	line-height:1.8;
	padding-bottom:0;
}


.mapredbutton{
	z-index:30;
	position:absolute;
	left:109px;
	bottom:-14px;
	width:250px;
	background: url(../images/mapredtag.png) no-repeat;
	color:#fff;
	font-size:14px;
	font-family:'PF Agora Sans Pro', sans-serif;
	padding-left:40px;
	padding-bottom:20px;
	overflow:visible;
}

.whitebg{
	background:#fff;
}

.whiteshad img{
	position:absolute;
	bottom:25px;
	right:90px;
}

.whiteshad{
	padding-left:90px;
	padding-top:30px;
	padding-right:90px;
	padding-bottom:10px;
	margin:0;
	font-family:'PF Agora Sans Pro', sans-serif;
	font-size:19.24px;
	line-height:1.1;
	color:#000;
  height: 325px;
	background-image: linear-gradient(to right, 
	    rgba(255,0,0,0) 0px,     
	    rgba(248,248,248,0.5) 85%,    
	    rgba(204,204,204,0.9) 100%     
	);  
}
.whiteshad-grad{
	background-position: 0px 0px;
	background-image: linear-gradient(to bottom, 
	    rgba(255,0,0,0) 0px,     
	    rgba(248,248,248,0.5) 70%,    
	    rgba(204,204,204,1) 100%     
	);  
	height:auto;
	padding:0;
}

.greyline{
  background: -webkit-linear-gradient(right, #131313 , #202020); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #131313 , #202020); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #131313 , #202020); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #131313 , #202020); 
  z-index: 10;
  background-color: #141414;
  height: 50px;
  width: 100%;
  border: 0;
  box-shadow: 2px 2px 5px #404040;
  color: #fff;
  border-top:#333 1px solid;
  border-bottom:#000 1px solid;
}
.greyline a, .greyline a:visited{
	color:#fff;
	text-decoration:none;
}
.greyline a:hover, .greyline a:active, .greyline a:focus{
	color:#fff;
	text-decoration:underline;
	background:transparent;
}


.galleryshowpad{
  border-top:#333 1px solid;
  border-bottom:#000 1px solid;
  background: -webkit-linear-gradient(right, #131313 , #202020); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #131313 , #202020); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #131313 , #202020); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #131313 , #202020); 
	height:500px;
	position:relative;
}

.film_roll_child{
	padding:0 10px 0 0;
	width:760px;
}
.filmrollshadow1{
	position:absolute;
	top:0;
	z-index:20;
	height:500px;
	width:100%;
	padding:0;
	background-image: linear-gradient(to left, 
	    rgba(255,0,0,0) 0px,     
	    rgba(0,0,0,0) 90%,    
	    rgba(0,0,0,0.95) 100%     
	);  
}
.filmrollshadow2{
	position:absolute;
	top:0;
	z-index:50;
	height:500px;
	width:100%;
	padding:0;
	background-image: linear-gradient(to right, 
	    rgba(255,0,0,0) 0px,     
	    rgba(0,0,0,0) 90%,    
	    rgba(0,0,0,0.95) 100%     
	);  
}

.gallery{
  height: 50px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.galgrey{
  border-left:#333 1px solid;
  border-right:#000 1px solid;
  height:48px;
}

.greyline .gallery .red{
  background: -webkit-linear-gradient(right, #a9150d , #ba2113); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #a9150d , #ba2113); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #a9150d , #ba2113); 
  border-left:#333 1px solid;
  border-right:#000 1px solid;
  border-top:#000 1px solid;
  border-bottom:#333 1px solid;
  height: 48px;
  
}

.gallerygreyline{
  font-family: 'Kent';
  font-size:11px;
  text-transform:uppercase;
  color:#fff;
  padding-right:30px;
}

.dots{
	background:url(../images/dots_bg.png);
	padding:0;
  border-top:#333 1px solid;
  border-bottom:#000 1px solid;
}

.bottomgrey{
  background: -webkit-linear-gradient(right, #131313 , #202020); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #131313 , #202020); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #131313 , #202020); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #131313 , #202020); 
}

.contacts{
	margin-top:48px;
	margin-bottom:50px;
  padding: 0;
  height:100%;
	position:relative;
	background:#fff;
}
.contact-red{
	color:#fff;
	text-shadow: 2px 2px 5px #404040;
  background: -webkit-linear-gradient(right, #ab1b19, #be3428); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ab1b19, #be3428); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ab1b19, #be3428); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ab1b19, #be3428); 
	box-shadow: 1px 1px 3px #404040;
	position:relative;
	padding-top:35px;
	padding-left:14px;
	height:230px;
}

.contact-red-arrow {
	position:absolute;
	left:100%;
	top:45%;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #bd2f23;
}

.contact-white-grad{
	background-position: 0px 0px;
	background-image: linear-gradient(to bottom, 
	    rgba(255,0,0,0) 0px,     
	    rgba(248,248,248,0.5) 70%,    
	    rgba(204,204,204,1) 100%     
	);  
	height:230px;
	padding:0;
}

.contact-white{
	color:#000;
	text-shadow: none;
	background-position: 0px 0px;
	background-image: linear-gradient(to right, 
	    rgba(255,0,0,0) 0px,     
	    rgba(248,248,248,0.5) 85%,    
	    rgba(204,204,204,1) 100%     
	);  
	box-shadow: 1px 1px 3px #404040;
	padding-top:35px;
	padding-left:75px;
	height:230px;
	
}

.contact-red h2, .contact-white h2{
	padding-top:0;
	margin-top:0;
	font-size:20px;
	line-height:1;
	font-weight:700;
	font-family: 'Kent', sans-serif;
	text-transform:uppercase;
}

.contact-red p{
	font-size:14px;
	line-height:1.3;
	font-weight:400;
	font-family:'PF Agora Sans Pro', sans-serif;
}

.contact-white p{
	font-size:27.78px;
	font-weight:100;
	font-family: 'Kent', sans-serif;
	line-height:1.2;
}

.bottomgreyline{
	padding-top:15px;
	padding-bottom:13px;
	border-top:#333 1px solid;
	border-bottom:#000 1px solid;
	margin-bottom:2px;
}
.bottomlinks{
	padding-left:0;
}
.bottomlinks ul{
	list-item:none;
	padding-left:0;
	margin-bottom:0;
}

.bottomlinks ul li{
	display:table-cell;
	font-size:10px;
	font-weight:400;
	text-transform:uppercase;
	font-family:'PF Agora Sans Pro', sans-serif;
	text-shadow: 1px 1px 2px #404040;
	padding-left:0px;
	padding-right:10px;
}

.bottomlinks ul li::after{
	padding-left:10px;
	content:'\007C';
}
.bottomlinks ul li:first-child{
	padding-left:0;
}

.bottomlinks ul li:last-child::after{
	content:'';
}
.bottomcopy{
	font-size:12px;
	font-weight:400;
	text-transform:none;
	font-family:'PF Agora Sans Pro', sans-serif;
	text-shadow: 1px 1px 2px #404040;
	padding-right:0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */


@media (max-width: 768px) {
	.homepage-fluid {
	  	padding: 0;
	}
		
	.homepage-fluid > .container{
		padding-top:50px;
	}
	.fullwidth-caption{
		padding-left:15px;
	}
	.navbar-right li{
		font-size:16px;
		padding-left:10px;
		padding-right:10px;
	}
	.navbar-brand {
	  padding-right: 10px;
	}
	.link-to-more-central > img{
		display:none;
		visibility:hidden;
	}
	
	.carousel-caption{
		left:0;
		padding-left:40px;
		text-align:left;
	}
	
	
	
	
	.whitetext{
		padding-left:20px;
		background-size:100% auto;
		padding-bottom:270px;
	}
	.downloadbottom{
		left:20px;
		
	}
	
	.whitetext h2{
		margin:0 10px;
	}
	.row .starrow {
	  margin-top: 20px;
	}
	.redmemo{
		display:none;
	}
	.mapblock{
		background-size:auto 100%;
	}
	.maptext{
		left:5%;
		top:20%;
	}
	.whiteshad{
		height:auto;
	}
	.whiteshad-grad{
		height:auto;
	}
	.contact-white p{
		font-size:20px;
	}
	.contact-white {
		padding-left:20px;
	}
}
@media (min-width: 768px) and (max-width:992px) {
	.contact-white p{
		font-size:20px;
	}
	
	.contact-white {
		padding-left:20px;
	}
	.navbar-brand{
		padding-left:0;
		padding-right:20px;
	}
	.link-to-more-central{
		width:250px;
		padding-left:10px;
		padding-right:20px;
	}
	.navbar-nav > .dropdown{
		margin-left:0px;
		width:120px;
	}
	
	.navbar-right li{
		font-size:16px;
		padding-right:0;
	}
	

  
  
	.whitetext{
		padding-left:20px;
		background-size:100% auto;
		padding-bottom:300px;
	}
	
	.whitetext h2{
		margin:0 10px;
	}
	.row .starrow {
	  margin-top: 20px;
	}
	.redmemo{
		display:none;
	}

}

@media (min-width: 992px) and (max-width:1199px) {
	
	.navbar-right li{
		font-size:20px;
		padding-right:0;
	}
	.whitetext h2{
		margin:0 10px;
		font-size:50px;
	}
	
	.whiteshad{
		height:350px;
	}
}



