<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="title" content="Запорная арматура высокого давления по доступным ценам | Servisarm.ru">
  <meta name="description" content="Запорная арматура высокого давления от производителя. Доступные цены широкий выбор, весь товар всегда в наличие, гарантия качества от Servisarm.ru">
  <meta name="keywords" http-equiv="keywords" content="запорная арматура, запорно регулирующая арматура, купить запорную арматуру, запорная арматура цена, продажа запорной арматуры, запорная арматура газопроводов, стоимость запорной арматуры, поставщики запорной арматуры">
  <link rel="icon" href="images/favicon.ico">
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/jquery.gsap.min.js"></script>
  <title>Запорная арматура высокого давления по доступным ценам | Servisarm.ru</title>
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">

<%= yield %>

</body>
</html>
